@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--brand-1: #fd377e;
	--brand-2: #e34981;

	--secondary: #03b898;

	--gray-4: #212529;
	--gray-3: #868e96;
	--gray-2: #e9ecef;
	--gray-1: #f8f9fa;

	--font-1: 28px;
	--font-2: 24px;
	--font-3: 20px;
	--font-4: 16px;
	--font-5: 12px;
}

body {
	font-family: Inter, sans-serif;
}

ul {
	list-style-type: none;
}

.container {
	max-width: 50rem;
	margin: 0 auto;
}
